/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.91), rgba(40, 180, 131, 0.69)), url(../img/hero1.jpg);
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background-size: cover;
    background-position: top;
    position: relative;
}

.logo-box {
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
}

.logo {
    height: 55px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%)
}

.heading-primary {
    color: white;
    text-align: center;
    backface-visibility: hidden;
    margin-bottom: 50px;
}

.heading-primary-main {
    display: block;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 25px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 15px;
    letter-spacing: 18px;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    text-decoration: none;
    padding: 15px 40px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
}

.btn-white {
    background-color: #ffffff;
    color: #777;
}

.btn::after {
    display: inline-block;
    height: 100%;
    width: 100%;
    content: "";
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #ffffff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: .7s;
    animation-fill-mode: backwards;
}